.card {
  width: 24rem;
  padding: 2rem;
  min-width: 28rem;
  min-height: 32rem;
  border-radius: 9px;
  box-shadow: 0 1px 4.4px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(60, 60, 60, 0.3);
}

.sub-titel {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: hsl(237, 86%, 64%);
  font-weight: 600;
}

.description {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.links {
  width: 100%;
  margin-bottom: 3rem;
}

.link {
  width: 100%;
  font-size: 1.4rem;
  cursor: pointer;
}

.icon {
  fill: #fff;
  height: 2.5rem;
  width: 2.5rem;
}

.tech-tag {
  background-color: hsl(0, 0%, 29%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px;
  white-space: nowrap;
}

/*768*/
@media (max-width: 48em) {
  .icon {
    fill: #fff;
    height: 3rem;
    width: 3rem;
  }
}

/*576*/
@media (max-width: 36em) {
  .sub-titel {
    font-size: 2rem;
  }
}
