a.my-name {
  font-size: 3.4rem;
  font-weight: 600;
  cursor: pointer;
}

a.my-name:hover {
  color: hsl(0, 0%, 100%);
}

.nuv > h3 > a {
  font-size: 1.4rem;
}

/*1120*/
@media (max-width: 70em) {
  a.my-name {
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
  }
}

/*576*/
@media (max-width: 36em) {
  .nuv.flex-row-space-between.flex-gap-large {
    display: none;
  }
}
