.footer-container {
  background-color: var(--footer-background-color);
  color: var(--main-text-color);
  padding: 20px;
  text-align: center;
  margin-top: 9rem;
  padding-top: 4rem;
}

.footer-icons {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.footer-icons a {
  color: var(--dark-blu);
  margin: 0 0.6rem;
  transition: color 0.3s ease;
}

.footer-icon {
  margin: 0 0.5rem;
  width: 4rem;
  height: 4rem;
  fill: var(--main-text-color);
}

.footer-icon:hover {
  width: 4.5rem;
  height: 4.5rem;
  fill: var(--light-blu);
}

.footer-text {
  font-size: 1.8rem;
  margin: 2rem 0;
  color: var(--light-blu);
}

/*576*/
@media (max-width: 36em) {
  .footer-icons a {
    margin: 0 0.6rem;
  }
}
