.education-section > h2 {
  text-align: center;
}

.timeline {
  position: relative;
  margin: 0;
  padding: 3rem 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 0.6rem;
  background-color: var(--timeline-dark-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.3rem;
}

.timeline-item {
  padding: 2rem;
  width: 40%;
  position: relative;
  box-shadow: 0 3px 6px var(--timeline-dark-color);
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.timeline-item:hover {
  box-shadow: 0 3px 6px var(--timeline-light-color);
}

.timeline-item.left {
  left: 10%;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -1.3rem;
  top: 1.5rem;
  background-color: var(--timeline-light-color);
  border: 2px solid var(--timeline-dark-color);
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.right::after {
  left: -1.3rem;
}

.year {
  color: var(--dark-blu);
  font-weight: 700;
  font-size: 2rem;
}

.year > .course-name {
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 1.6rem;
}

.study-place-name {
  color: var(--dark-gray);
  font-size: 1.4rem;
}

.timeline-item:hover .year {
  font-size: 2.2rem;
}

.timeline-item:hover .year > .course-name {
  font-size: 1.8rem;
}

.timeline-item:hover .study-place-name {
  font-size: 1.6rem;
}

/*880*/
@media (max-width: 55em) {
  .year {
    font-size: 1.8rem;
  }

  .year > .course-name {
    font-size: 1.4rem;
  }

  .study-place-name {
    font-size: 1.2rem;
  }

  .timeline-item:hover .year {
    font-size: 2rem;
  }

  .timeline-item:hover .year > .course-name {
    font-size: 1.6rem;
  }

  .timeline-item:hover .study-place-name {
    font-size: 1.4rem;
  }
}

/*768*/
@media (max-width: 48em) {
  .timeline {
    position: relative;
    margin: 0;
    padding: 1rem 0;
  }
  .timeline-item {
    width: 50%;
  }
  .timeline-item.left {
    left: 0;
  }
}
