.sun-icon,
.moon-icon {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  fill: var(--main-text-color);
  z-index: 1000;
}

.sun-icon:hover,
.moon-icon:hover {
  fill: var(--dark-blu);
}

header {
  position: relative;
}

.header {
  padding: 2rem 8rem 9.6rem 2rem;
  transition: all 0.3s ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 500;
  background-color: var(--main-background-color);
  padding: 2rem 8rem 2rem 2rem;
  transition: all 0.3s ease-in-out;
}

.theme-toggle-icon {
  position: absolute;
  top: 3.2rem;
  right: 2rem;
}

.projects-section {
  grid-row: 2;
  grid-column: 1/-1;
}

.about-me-section {
  grid-row: 3;
  grid-column: 2/6;
}

.education-section {
  grid-row: 4;
  grid-column: 1/-1;
}

.skills-section {
  grid-row: 5;
  grid-column: 1/-1;
}

.footer-section {
  margin-top: 16rem;
}

/*1120*/
@media (max-width: 70em) {
  .about-me-section {
    grid-column: 1/-1;
  }
  .sun-icon,
  .moon-icon {
    height: 2rem;
    width: 2rem;
  }
}

/*576*/
@media (max-width: 36em) {
  .sticky {
    background-color: var(--main-mobile-background-color);
  }

  .theme-toggle-icon {
    position: absolute;
    right: 8.9rem;
    top: 3.2rem;
  }

  .sun-icon,
  .moon-icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  .projects-section,
  .about-me-section,
  .skills-section {
    margin-bottom: 14.8rem;
  }

  .projects-section {
    grid-row: 3;
  }

  .about-me-section {
    grid-row: 4;
  }

  .education-section {
    grid-row: 6;
  }

  .skills-section {
    grid-row: 5;
  }
}
