.about-me-section {
  grid-row: 4;
  grid-column: 2/6;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: center;
  justify-content: center;
}
.about-me-titel {
  text-align: center;
}
.my-description {
  text-align: center;
}
